<template>
  <apexchart
    ref="barChartJobsExecuted"
    height="350px"
    :options="chartOptions"
    :series="series" />
</template>

<script>
import VueApexCharts from 'vue3-apexcharts'

export default {
  props: {
     pipelines: {type: Array}
  },
  components: {
    apexchart: VueApexCharts
  },
  data () {
    return {
      filters: undefined,
      series: [],
      chartOptions: {
            noData: {
              text: "No data found yet for the period."
            },
            colors: ['#f2c037', '#21ba45', '#c10015', '#26a69a', '#f79344', '#2D40BA'],
            chart: {
		type: 'line',
                stacked: true,
                zoom: {
                  autoScaleYaxis: false // apexcharts-- there is a bug with this.
                },
		toolbar: {
			tools: {
				selection: false,
				zoom: false,
				zoomin: false,
				zoomout: false,
				pan: false,
				reset: false,
				customIcons: []
			},
		}
            },
            dataLabels: {
                enabled: false
            },
            plotOptions: {
               bar: { horizontal: false, columnWidth: '30%' },
            },
            legend: { position: 'top', horizontalAlign: 'center' },
            title: {
                text: "Pipelines executed",
                style: {
                   fontSize: '16px'
                }
            },
            subtitle: {
                text: "Each bar is a pipeline executed with their tests inside."
            },
            fill: {
                opacity: 1
            },
            yaxis: [{
	      seriesName: 'failed',
	    },
	    {
	      seriesName: 'failed',
	      show: false,
            },
	    {
	      seriesName: 'failed',
	      show: false,
            },
	    {
	      seriesName: 'failed',
	      show: false,
            },
	    {
	      seriesName: 'failed',
	      show: false,
            },
	    {
              opposite: true,
	      seriesName: 'health',
            }],
            xaxis: {
               type: "category",
               // type: "datetime",
                labels: {
                   hideOverlappingLabels: true,
                   show: true,
                   rotate: 0,
                }
            },
	    dataLabels: {
		enabled: true,
		enabledOnSeries: [5],
		formatter: function(value, opt) {
		    return  value + "%"
		  }
	    },
      } 
    }
  },
  watch: {
    pipelines: {
      handler(newPipelines) {
	      this.update(newPipelines);
      },
      immediate: true
    }
  },
  methods: {
    update (pipelines) {
	    function removeZero(value){
		    if(value == 0 || value == undefined){
			    value = null
		    }
		    return value
	    }
      console.log("Updating...", pipelines)
      if (pipelines === undefined) {
         return
      }
         
      let results = {'failed': [],
                     'success': [],
                     'error': [],
                     'skipped': [],
                     'canceled': [],
                     'manual': []}

      let series = []
      let categories = []
      let health = []

      pipelines.forEach(function(pipeline) {
        // let created_at = new Date(pipeline.created_at).getTime()
        categories.unshift(pipeline.created_at.toString().substr(0,10))

        results['failed'].push(removeZero(pipeline.tests_stats['failed']))
        results['success'].push(removeZero(pipeline.tests_stats['success']))
        results['error'].push(removeZero(pipeline.tests_stats['error']))
        results['skipped'].push(removeZero(pipeline.tests_stats['skipped']))
        results['canceled'].push(removeZero(pipeline.tests_stats['canceled']))
        let unsuccess = pipeline.tests_stats['failed']+pipeline.tests_stats['error']+pipeline.tests_stats['skipped']
        let success = pipeline.tests_stats['success']
	health.push(Math.round((success/(unsuccess+success))*100))
      })

      const keys = ['failed', 'success', 'error', 'skipped', 'canceled']
      keys.forEach(function (key) {
          series.push({'name': key, 'data': results[key], 'type': 'bar'})
      })

      series.push({'name': 'health', 'data': health, 'type': 'line'})
      this.series = series
      this.chartOptions = {...this.chartOptions, ...{
	      xaxis: {
		      categories: categories,
	      }
      }}
    }
  }
}
</script>

<style>

.apexcharts-marker {
  stroke-width: 1px;
}

</style>
