<template>

  <div class="projects q-pa-md">
     <testInfoPanel />
     <div class="q-pa-md q-gutter-sm">
       <q-breadcrumbs>
         <q-breadcrumbs-el icon="home" to="/" />
         <q-breadcrumbs-el label="Projects" icon="widgets" to="/projects" />
         <q-breadcrumbs-el :label="project.name" icon="fab fa-gitlab" />
       </q-breadcrumbs>
     </div>

      <div class="row">
        <!-- <div class="col-md-12"><bubbleChartJobsExecuted /></div> -->
        <div class="col-md-3"><cardTestsFilter v-bind:dt_to="dt_to" v-bind:dt_from="dt_from"/></div>
        <div class="col-md-9"><barChartJobsExecuted v-bind:pipelines="pipelines"/></div>
      </div>
      <div class="row">
        <div class="col-md-12"><tableTestsSummary v-bind:dt_to="dt_to" v-bind:dt_from="dt_from"/></div>
      </div>
  </div>

</template>

<script>

//import bubbleChartJobsExecuted from '@/components/charts/bubbleChartJobsExecuted.vue'
import barChartJobsExecuted from '@/components/charts/barChartJobsExecuted.vue'
import tableTestsSummary from '@/components/tables/tableTestsSummary.vue'
import testInfoPanel from '@/components/panels/testInfoPanel.vue'
import cardTestsFilter from '@/components/cards/cardTestsFilter.vue'

const conf = config()

export default {
  components: {
    //bubbleChartJobsExecuted,
    barChartJobsExecuted,
    tableTestsSummary,
    testInfoPanel,
    cardTestsFilter
  },

  data () {
    return {
       project: {},
       dt_to: new Date().toISOString().substr(0,10),
       dt_from: new Date(Date.now() - 15 * 24 * 60 * 60 * 1000).toISOString().substr(0,10),
       pipelines: [],
       filters: undefined,
    }
  },
  mounted() {
    let project_id = this.$route.params.id
    fetch("http://localhost:8000/projects/" + project_id)
      .then(response => response.json())
      .then(data => (this.updateComponents(data)));
    this.filters = {'dt_from': this.dt_from, 'dt_to': this.dt_to}
    this.fetchPipelines()
    this.emitter.on('project.filter.applied', (event_data) => {
      this.filters = event_data
      this.fetchPipelines()
    })
  },

  computed: {
    pipelines_endpoint() {
       let project_id = this.$route.params.id
       let endpoint = conf.I4C_API_SERVER + "/projects/" + project_id + "/pipelines"
       if (this.filters == null) {
           console.log("Filter is undefined, getting all tests...")
           return endpoint
       }

       console.log("Filter is defined:", this.filters)

       let dt_from = encodeURIComponent(this.filters.dt_from)
       let dt_to = encodeURIComponent(this.filters.dt_to)
       let in_groups = encodeURIComponent(this.filters.in_groups)
       let query = "?dt_from=" + dt_from + "&dt_to=" + dt_to + "&in_groups=" + in_groups

       return endpoint + query
    }
  },

  methods: {
    fetchPipelines () {
       console.log("FetchData called")
       this.series = []
       fetch(this.pipelines_endpoint)
	       .then(function(response){
		       if (!response.ok) {
			       console.log(response.statusText);
			       return []
		       }
		       return response.json();
	       })
	       .then(data => (this.pipelines = data))
    },
     updateComponents(data) {
       this.project = data
     }
  }
}
</script>
